@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
section{
    width: 400px;
    height: 400px;
}
form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 8px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.input-container{
    margin-bottom: 10px;
}
.input-wrapper{
    display: flex;
    flex-direction: row;
}
.input-wrapper label{
    margin-right: 10px;
    width: 200px;
}
.input-wrapper input{
    border: none;
    display: block;
    margin-left: 10px;
    border-bottom: 2px dotted black;
}
.input-wrapper input:focus{
    outline: none;
}
.list{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left{
    margin-right: 30px;
}
.left p{
    font-size: 12px;
}
.right{
    width: 70%;
}
.right ol li{
    font-size: 12px;
}
.ket p{
    font-size: 12px;
}
.tanggal{
    margin-top: 50px;
    margin-bottom: -90px;
    width: 100%;
    text-align: right;
}
.signature{
    margin: 0 auto;
    width: 360px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.sig-left{
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sig-right{
    overflow: hidden;
    margin-right: -30px;
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
